*{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
#nav{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 23px;
    background-color: black;
    color: red;
    font-family:'Karla', sans-serif;
}
#title{
    width: 20%;
    margin: 1%;
    letter-spacing: 2px;
    font-size: 30px;
    float: left;
}
#navEle{
    float: left;
    width: 40%;
    margin: 1% 0 0 17%;
}
#navEle > a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 15%;
    margin: 10px;

}
#search{
    margin: 1% 2% 0 1%; 
    float: left;
}
#search input{
    height: 23px;
    border-radius: 10px;
    text-align: center;
}
#search button{
    height: 27px;
    border-radius: 10px;
    width: 75px;
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    font-size: 15px;
}
#search button:hover{
    background-color: white;
    color: orangered;
}
.visible{
    display: block;
}
.hidden{
    display: none;
}
#page{
    width: 80%;
    margin: 10px auto;
    height: 40px;
}
#container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
#hoverDiv{
    width:100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,0,0,0.3900910706079307) 60%);
    color: white;
}
#flexDivs{
    flex-basis: 45%;
    height: 500px;
    border: 1px solid black;
    margin: 20px 2%;
}
.img{
    width: 100%;
    height: 250px;
} 